<h1>Manage Memberships for <%= @organization.name %></h1>

<%= form_with url: organization_memberships_path(@organization), method: :post, local: true do |f| %>
  <div class="field">
    <%= label_tag :email, 'Add member by email' %>
    <%= text_field_tag :email %>
    <%= f.submit 'Add Member' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= membership.user.email %></td>
        <td>
          <%= form_with url: organization_membership_path(@organization, membership), method: :patch, local: true do |f| %>
            <%= select_tag :role, options_for_select(Membership.roles.keys, membership.role) %>
            <%= f.submit 'Update Role' %>
          <% end %>
        </td>
        <td>
          <%= button_to 'Remove', organization_membership_path(@organization, membership), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back to Organization', organization_path(@organization) %>
