<h1>Organizations</h1>
<%= link_to 'New Organization', new_organization_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Min Age</th>
      <th>Max Age</th>
      <th>Members</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |org| %>
      <tr>
        <td><%= link_to org.name, organization_path(org) %></td>
        <td><%= org.min_age %></td>
        <td><%= org.max_age %></td>
        <td><%= @analytics[org] %></td>
        <td>
          <%= link_to 'Edit', edit_organization_path(org) %> |
          <%= link_to 'Delete', organization_path(org), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
